# Django Web Framework
Django>=3.2,<4.0

# Web Scraper Framework
Scrapy>=2.5

# Database ORM & PostgreSQL Drivers
SQLAlchemy>=1.4,<2.0
psycopg2-binary>=2.9

# Data Parsing
beautifulsoup4>=4.9
lxml>=4.6
